<app-donor-nav></app-donor-nav>
<div class="alert alert-success" role="alert">
    Hi,{{donor.donorName}} You have <strong>successfully</strong> logged in as a donor!!!
</div>
<div class="container">
    <div class="bg-light p-5 rounded">
        <h1>Reset password</h1>
        <p>Change your password by clicking the button bellow</p>
        <a class="btn btn-lg btn-info lead my-4" href="donor/login/resetPassword">Reset »</a>
        <h1>Donations to NGO</h1>
        <p class="lead my-4">Donate</p>
        <button class="btn btn-lg btn-success my-3" (click)='donateToNGO()'>Donate »</button>
        <hr>
        <p class="lead my-4">Your Donations</p>
        <button class="btn btn-lg btn-success my-3" (click)='goToDonations()'>Donations »</button>
    </div>
</div>