<div class="container col-md-9">
    <div class="row featurette my-5 ">
        <div class="col-md-5 ">
            <img src="assets/details.png" height="90%" width="90%" alt="...">

        </div>
        <div class="alert alert-danger my-4" *ngIf="error">
            {{error}}
        </div>
        <div class="col-md-7">
            <div class="my-5">
                <h2 class="my-5">Details of needy person</h2>
                <div *ngIf='needyPeople'>
                    <div>
                        <label><b>NeedyPerson Id:</b></label> {{needyPeople.needyPeopleId}}
                    </div>
                    <div>
                        <label><b>NeedyPerson Name:</b></label> {{needyPeople.needyPeopleName}}
                    </div>
                    <div>
                        <label><b>Phone:</b></label> {{needyPeople.phone}}
                    </div>
                    <div>
                        <label><b>Username:</b></label> {{needyPeople.username}}
                    </div>
                    <div>
                        <label><b>Password:</b></label> {{needyPeople.password}}
                    </div>
                    <div>
                        <label><b>Family Income:</b></label> {{needyPeople.familyIncome}}
                    </div>
                    <div>
                        <label><b>Request:</b></label> {{needyPeople.request}}
                    </div>
                    <div>
                        <label><b>Address:</b></label> {{needyPeople.address.addressId}}, {{needyPeople.address.city}},
                        {{needyPeople.address.state}}
                        , {{needyPeople.address.pin}}, {{needyPeople.address.landmark}}.
                    </div>
                    <button (click)='goToNeedyPeopleList()' class='btn btn-primary my-5'>Go To Needy People
                        List</button>
                </div>
            </div>
        </div>

    </div>
</div>