<app-donor-nav></app-donor-nav>
<div class="container my-5">
    <form #createDonationForm="ngForm" novalidate class="row g-3">
      <div class="col-md-4">
        <label for="donationId" class="form-label">Donation Id</label>
        <input type="number" name="donationId" class="form-control" placeholder="Enter the Id here"
          #donorId="ngModel" [(ngModel)]="donation.donationId">
      </div>
      <div class="col-md-8">
        <label for="name">donation Amount</label>
        <input type="text" name="donationAmount" class="form-control my-1" placeholder="Enter donation amount here"
          [(ngModel)]="donation.donationAmount" #name="ngModel">
      </div>
      <div class="col-md-6">
        <label for="donationDate">donation Date</label>
        <input type="date" name="donationDate" class="form-control my-1" placeholder="Enter donation Date here"
          [(ngModel)]="donation.donationDate" #phone="ngModel">
      </div>
      <div class="col-md-6">
        <label for="itemId">Item Id</label>
        <input type="number" name="itemId" class="form-control my-1" placeholder="Enter item Id here"
          [(ngModel)]="donation.item.itemId" #email="ngModel">
      </div>
     
      <div class="form-group">
        <label for="itemDescription">Item Description</label>
        <input type="text" name="itemDescription" class="form-control" 
              placeholder="Enter the Item Description" required 
              [(ngModel)]= "donation.item.itemDescription" #itemDescription="ngModel">
    </div>
     
    <div class="form-group">
        <label for="type">Donation Type</label>
        <input type="text" name="type" class="form-control" 
              placeholder="Enter the donation type"
              [(ngModel)]= "donation.item.type" #type="ngModel">
    </div>
      <div>
        <button type="submit" class="btn btn-success" (click)= "onSubmit()">Add Donation</button>
        <button type="submit" class="btn btn-default" (click)= "createDonationForm.reset()">Reset</button>
      </div>
    </form>
  </div>
  