
<div class="container my-5">
  <h1 class="display-4" style="text-align: center;">Register as donor</h1>
    <!-- <form (ngSubmit)="onSubmit()"> -->
        <form #createDonorForm="ngForm" novalidate class="row g-3">
        <div class="form-group">
            <label for="donorId">Donor Id</label>
            <input type="number" name="donorId" class="form-control" 
                    placeholder="Enter the  donorId " required  
                    #donorId="ngModel"
                    [(ngModel)]= "donor.donorId"
                    [ngClass]= "{'is-invalid':donorId?.errors && (donorId?.touched),
                    'is-valid':donorId?.valid}">
            <div class="invalid-feedback">
                <strong *ngIf= "donorId?.errors?.required">Donor Id is required</strong>
            </div>
        </div>
        
        <div class="form-group">
          <label for="donorName">Donor Name</label>
          <input type="text" name="name" class="form-control" 
                  placeholder="Enter the product donorName " required  
                  #donorName="ngModel"
                  [(ngModel)]= "donor.donorName"
                  [ngClass]= "{'is-invalid':donorName?.errors && (donorName?.touched),
                  'is-valid':donorName?.valid}">
          <div class="invalid-feedback">
              <strong *ngIf= "donorName?.errors?.required">Donor name is required</strong>
          </div>
      </div>
      <div class="form-group">
        <label for="phone">Donor Phone</label>
        <input type="text" name="phone" class="form-control" 
                placeholder="Enter the phone" required  
                #phone="ngModel"
                [(ngModel)]= "donor.phone"
                [ngClass]= "{'is-invalid':phone?.errors && (phone?.touched),
                'is-valid':phone?.valid}">
        <div class="invalid-feedback">
            <strong *ngIf= "phone?.errors?.required">Donor Phone is required</strong>
        </div>
    </div>

    <div class="form-group">
      <label for="email">Donor Email</label>
      <input type="text" name="email" class="form-control" 
              placeholder="Enter the email" required  
              #email="ngModel"
              [(ngModel)]= "donor.email"
              [ngClass]= "{'is-invalid':email?.errors && (email?.touched),
              'is-valid':email?.valid}">
      <div class="invalid-feedback">
          <strong *ngIf= "email?.errors?.required">Donor email is required</strong>
      </div>
    </div>

    <div class="form-group">
      <label for="username">Donor username</label>
      <input type="text" name="username" class="form-control" 
              placeholder="Enter the username" required  
              #username="ngModel"
              [(ngModel)]= "donor.username"
              [ngClass]= "{'is-invalid':username?.errors && (username?.touched),
              'is-valid':username?.valid}">
      <div class="invalid-feedback">
          <strong *ngIf= "username?.errors?.required">Donor username is required</strong>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Donor password</label>
      <input type="text" name="password" class="form-control" 
              placeholder="Enter the password" required  
              #password="ngModel"
              [(ngModel)]= "donor.password"
              [ngClass]= "{'is-invalid':password?.errors && (password?.touched),
              'is-valid':password?.valid}">
      <div class="invalid-feedback">
          <strong *ngIf= "password?.errors?.required">Donor password is required</strong>
      </div>
    </div>

    <div class="form-group">
      <label for="addressId">Donor addressId</label>
      <input type="number" name="addressId" class="form-control" 
              placeholder="Enter the addressId" required  
              #addressId="ngModel"
              [(ngModel)]= "donor.address.addressId"
              [ngClass]= "{'is-invalid':addressId?.errors && (addressId?.touched),
              'is-valid':addressId?.valid}">
      <div class="invalid-feedback">
          <strong *ngIf= "addressId?.errors?.required">Donor addressId is required</strong>
      </div>
    </div>

    <div class="form-group">
      <label for="city">Donor city</label>
      <input type="text" name="city" class="form-control" 
              placeholder="Enter the city" required  
              #city="ngModel"
              [(ngModel)]= "donor.address.city"
              [ngClass]= "{'is-invalid':city?.errors && (city?.touched),
              'is-valid':city?.valid}">
      <div class="invalid-feedback">
          <strong *ngIf= "city?.errors?.required">Donor city is required</strong>
      </div>
    </div>

    <div class="form-group">
      <label for="state">Donor state</label>
      <input type="text" name="state" class="form-control" 
              placeholder="Enter the state" required  
              #state="ngModel"
              [(ngModel)]= "donor.address.state"
              [ngClass]= "{'is-invalid':state?.errors && (state?.touched),
              'is-valid':state?.valid}">
      <div class="invalid-feedback">
          <strong *ngIf= "state?.errors?.required">Donor state is required</strong>
      </div>
    </div>

    <div class="form-group">
      <label for="pin">Donor pin</label>
      <input type="text" name="pin" class="form-control" 
              placeholder="Enter the pin" required  
              #pin="ngModel"
              [(ngModel)]= "donor.address.pin"
              [ngClass]= "{'is-invalid':pin?.errors && (pin?.touched),
              'is-valid':pin?.valid}">
      <div class="invalid-feedback">
          <strong *ngIf= "pin?.errors?.required">Donor pin is required</strong>
      </div>
    </div>

    <div class="form-group">
      <label for="landmark">Donor landmark</label>
      <input type="text" name="landmark" class="form-control" 
              placeholder="Enter the landmark" required  
              #landmark="ngModel"
              [(ngModel)]= "donor.address.landmark"
              [ngClass]= "{'is-invalid':landmark?.errors && (landmark?.touched),
              'is-valid':landmark?.valid}">
      <div class="invalid-feedback">
          <strong *ngIf= "landmark?.errors?.required">Donor landmark is required</strong>
      </div>
    </div>

      
        <button type="submit" class="btn btn-success" (click)= "onSubmit()" [disabled]= "createDonorForm.invalid">Register</button>
        <button type="submit" class="btn btn-default" (click)= "createDonorForm.reset()">Reset</button>
    </form>