<div class="px-4 py-5 my-5 text-center">
  <img class="d-block mx-auto mb-4 rounded-circle" src="assets/founder.png" height="13%" width="13%" alt="">
  <h1>Founder</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Founder of our organization,<strong> Mr. Sai Sidhartha</strong>, who laid the foundation with a
      vision
      to see a new country without poor. "We aim for the change within the lives of people"</p>
  </div>
</div>

<div class="container marketing">

  <hr class="featurette-divider">

  <div class="row featurette ">
    <div class="col-md-7">
      <h2 class="featurette-heading">Education<span class="text-muted"> – Door to The Future</span>
      </h2>
      <p class="lead">Education's purpose is to replace an empty mind with an open one.<strong> No child should be left
          behind. </strong>95% of Indian children attend primary school but barely 55% of them end up reaching higher secondary school. The most recent ASER report also shows that learning levels in Government- run primary schools are alarmingly low. This implies that almost half the children drop out after 8 years of elementary education, without acquiring minimum acceptable foundational skills.</p>
    </div>
    <div class="col-md-5 my-3">
      <img src="assets/about2.png" height="100%" width="90%" alt="...">

    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Give what you can, <span class="text-muted">save people.</span></h2>
      <p class="lead">One-eighth of the world’s population – still live in hunger. Each year 2 million children die
        through malnutrition.
        The war against hunger is truly mankind’s war of liberation. So come let's bring a change, your little
        contribution can fulfil someone's hunger.
      </p>
    </div>
    <div class="col-md-5 order-md-1 my-4">
      <img src="assets/about1.png" height="100%" width="90%" alt="...">

    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">A Hard Row to Plow. <span class="text-muted">No Farmers- No Food- No Future.</span>
      </h2>
      <p class="lead">Cultivators of the earth are the most valuable citizens.
        They are the most vigorous, the most independent, the most virtuous,
        and they are tied to their country and wedded to its liberty and interests by the most lasting bonds.
        Farmers feed the world, it is the responsibility of each one of us to protect them. Come forward to donate some
        money towards the people who feed us</p>
    </div>
    <div class="col-md-5">
      <img src="assets/about3.PNG" height="100%" width="90%" alt="...">
    </div>
  </div>

  <hr class="featurette-divider">

</div>