<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

  <title>NGO portal</title>
</head>

<body>
  <div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="assets/founder.png" height="13%" width="13%" alt="">
    <h1>Founder</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Founder of our organization,<strong> Mr. Sai Sidhartha</strong>, who laid the foundation with a vision
        to see a new country without poor. "We aim for the change within the lives of people"</p>
    </div>
  </div>

  <div class="container marketing">

    <hr class="featurette-divider">

    <div class="row featurette ">
      <div class="col-md-7">
        <h2 class="featurette-heading">Education<span class="text-muted"> – Door to The Future</span>
        </h2>
        <p class="lead">Education's purpose is to replace an empty mind with an open one.<strong> No child should be left
          behind. </strong> The foundation of every state is the education of its youth. Education is a better safeguard of
          liberty than a standing army. Donate for children education.</p>
      </div>
      <div class="col-md-5 my-3">
        <img src="assets/about2.png" height="100%" width="90%" alt="...">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Give what you can, <span class="text-muted">save people.</span></h2>
        <p class="lead">One-eighth of the world’s population – still live in hunger. Each year 2 million children die through malnutrition.
          The war against hunger is truly mankind’s war of liberation. So come let's bring a change, your little contribution can fulfil someone's hunger.
        </p>
      </div>
      <div class="col-md-5 order-md-1 my-4">
        <img src="assets/about1.png" height="100%" width="90%" alt="...">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">A Hard Row to Plow. <span class="text-muted">No Farmers- No Food- No Future.</span></h2>
        <p class="lead">Cultivators of the earth are the most valuable citizens.
           They are the most vigorous, the most independent, the most virtuous, 
           and they are tied to their country and wedded to its liberty and interests by the most lasting bonds.
          Farmers feed the world, it is the responsibility of each one of us to protect them. Come forward to donate some money towards the people who feed us</p>
      </div>
      <div class="col-md-5">
        <img src="assets/about3.PNG" height="100%" width="90%" alt="...">
      </div>
    </div>

    <hr class="featurette-divider">

  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
    crossorigin="anonymous"></script>

</body>

</html>