<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
      <div >
          <img src='assets/LogoText/AikyataWhite.png' height="35px" width="150px" style="padding-right: 10px;">
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="index.html">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="about">About</a>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                      data-bs-toggle="dropdown" aria-expanded="true">
                      Actions
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="donor/login">Donate</a></li>
                      <li><a class="dropdown-item" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                              aria-controls="offcanvasRight">Register</a></li>
                      <li>
                          <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" href="write">Write for us</a></li>
                  </ul>
              </li>
          </ul>
          <div class="mx-2">
              <a class="nav-link link-warning" href="contact">Contact us</a>

          </div>
      </div>
  </div>
</nav>
<div class="container my-5 col-md-9">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="assets/21.png" class="card-img-top" alt="...">
        <div class="card-body card text-center">
          <h4 class="card-title">Mission</h4>
          <p class="card-text">To prepare underprivileged childern and women through comprehensive assistance to empower lives 
            in the rapidly changing world.
          </p>
        </div>

      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="assets/22.png" class="card-img-top" alt="...">
        <div class="card-body card text-center">
          <h4 class="card-title">Vision</h4>
          <p class="card-text">Every child's wish to study, every woman's desire to work and every needy one's hunger to live is what driving us towards light.</p>
        </div>

      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="assets/23.png" class="card-img-top" alt="...">
        <div class="card-body card text-center">
          <h4 class="card-title">Values</h4>
          <ol class="card-text" style="text-align: left;">
            <li>Team Work</li>
            <li>Transparency</li>
            <li>Leadership</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container marketing">

  <hr class="featurette-divider my-5">

  <div class="row featurette ">
    <div class="col-md-7">
      <h2 class="featurette-heading">Education<span class="text-muted"> – Door to The Future</span>
      </h2>
      <p class="lead">Education's purpose is to replace an empty mind with an open one.<strong> No child should be left
          behind. </strong>95% of Indian children attend primary school but barely 55% of them end up reaching higher
        secondary school. The most recent ASER report also shows that learning levels in Government- run primary schools
        are alarmingly low. This implies that almost half the children drop out after 8 years of elementary education,
        without acquiring minimum acceptable foundational skills.</p>
    </div>
    <div class="col-md-5 ">
      <img src="assets/about2.png" height="100%" width="90%" alt="...">

    </div>
  </div>

  <hr class="featurette-divider my-5">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Give what you can, <span class="text-muted">save people.</span></h2>
      <p class="lead">One-eighth of the world’s population – still live in hunger. Each year 2 million children die
        through malnutrition.
        The war against hunger is truly mankind’s war of liberation. This war can only be ended when people irrespective
        of their
        religion, race and status come together. What you throw as leftovers can fill someone else's stomach. Let's not
        allow anyone else to suffer from hunger anymore.
        So come let's bring a change, your little
        contribution can fulfil someone's hunger.
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img src="assets/about1.png" height="100%" width="90%" alt="...">

    </div>
  </div>

  <hr class="featurette-divider my-5">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">A Hard Row to Plow. <span class="text-muted">No Farmers- No Food- No Future.</span>
      </h2>
      <p class="lead">Cultivators of the earth are the most valuable citizens.
        They are the most vigorous, the most independent, the most virtuous,
        and they are tied to their country and wedded to its liberty and interests by the most lasting bonds.
        Farmers feed the world, it is the responsibility of each one of us to protect them. Come forward to donate some
        money towards the people who feed us</p>
    </div>
    <div class="col-md-5">
      <img src="assets/about3.PNG" height="100%" width="90%" alt="...">
    </div>
  </div>

  <hr class="featurette-divider my-5">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">COVID relief - <span class="text-muted">A life raft in the deep sea of
          virus.</span></h2>
      <p class="lead">Our NGO together with other development partners such as corporates,
        individuals and Government, stands strong with each one who is affected by the Coronavirus in India.
        Our response to this situation is setting up the (NGO NAME) Relief Fund which together with your support is a
        well-coordinated effort to rebuild families for the betterment of the children of our nation.
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img src="assets/17.png" height="100%" width="90%" alt="...">

    </div>
  </div>

  <hr class="featurette-divider my-5">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Elderly - <span class="text-muted">Backbone of family</span>
      </h2>
      <p class="lead">People live with dignity all their life and suddenly one day they are left with no choice but to
        beg to survive.
        In villages, many elderly are left alone after their children move to the cities in search of better livelihood.
        In last few days of their lives, who will they look up to? Please do not give up on them easily. You are present
        only because of your parents.
        Be thankful to them and hold them tight.</p>
    </div>
    <div class="col-md-5">
      <img src="assets/18.png" height="100%" width="90%" alt="...">
    </div>
  </div>

  <hr class="featurette-divider my-5">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Mental Health - <span class="text-muted">To prevent emotional breakdown</span></h2>
      <p class="lead">Physical and financial health are important but not as much as compared to one's Mental health.
        An effect on mental health can cause an emotional breakdown leading to many serious complications. 1 in 4 people
        always get have issues regarding their mental health. We are taking an active role in reducing the stigma around
        mental illness and expanding access to mental health care.
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img src="assets/20.png" height="100%" width="90%" alt="...">

    </div>
  </div>

  <hr class="featurette-divider my-5">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Women Empowerment<span class="text-muted">The greatest beings of all time</span>
      </h2>
      <p class="lead">Despite monumental leaps in gender equality in the past two decades, women and girls are still
        disproportionately affected by extreme poverty.
        When you donate to effective women’s charities, you’re making the world a safer, healthier, and fairer place.
        Hold them tight, they die. Hold them light, they fly. Hold them right, and make a better place for them.</p>
    </div>
    <div class="col-md-5">
      <img src="assets/19.png" height="100%" width="90%" alt="...">
    </div>
  </div>

  <hr class="featurette-divider my-5">

</div>