.background { 
    background-image:url("https://c.pxhere.com/photos/62/55/children_crying_eating_poor_afraid_fear_sad_person-1143303.jpg!d");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-position: center;

}