.background { 
    background-image:url("https://c4.wallpaperflare.com/wallpaper/306/656/57/question-question-mark-red-black-wallpaper-preview.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-position: center;

}