<div class="container my-5">
    <div class="alert alert-danger my-4" *ngIf="error">
      {{error}}
  </div>
    <form #createEmployeeForm="ngForm" novalidate class="row g-3">
      <div class="col-md-4">
        <label for="employeeId" class="form-label">Employee Id</label>
        <input type="number" name="employeeId" class="form-control" placeholder="Enter the Id here"
          #needyPeopleId="ngModel" [(ngModel)]="employee.employeeId">
      </div>
      <div class="col-md-8">
        <label for="name">Employee Name</label>
        <input type="text" name="employeeName" class="form-control my-1" placeholder="Enter name of the employee here"
          [(ngModel)]="employee.employeeName" #name="ngModel">
      </div>
      <div class="col-md-6">
        <label for="phone">Phone</label>
        <input type="number" name="phone" class="form-control my-1" placeholder="Enter phone number here"
          [(ngModel)]="employee.phone" #phone="ngModel">
      </div>
      <div class="col-md-6">
        <label for="email">Email</label>
        <input type="text" name="email" class="form-control my-1" placeholder="Enter email here"
          [(ngModel)]="employee.email" #familyIncome="ngModel">
      </div>
      <div class="col-md-6">
        <label for="username">Username</label>
        <input type="text" name="username" class="form-control my-1" placeholder="Enter the username" required
          [(ngModel)]="employee.username" #username="ngModel">
      </div>
      <div class="col-md-3">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control my-1" placeholder="Enter the Password"
          [(ngModel)]="employee.password" #password="ngModel">
      </div>
      <div class="col-md-3">
        <label for="password">Confirm Password</label>
        <input type="password" name="password" class="form-control my-1" placeholder="Enter the Password">
      </div>
      <hr class="my-4">
      <div class="col-md-4">
        <label for="addressId">Address Id</label>
        <input type="number" name="addressId" class="form-control my-1" placeholder="Enter the Address Id"
          [(ngModel)]="employee.address.addressId" #addressId="ngModel">
      </div>
      <div class="col-md-4">
        <label for="city">City</label>
        <input type="text" name="city" class="form-control my-1" placeholder="Enter the City"
          [(ngModel)]="employee.address.city" #city="ngModel">
      </div>
      <div class="col-md-4">
        <label for="state">State</label>
        <input type="text" name="state" class="form-control my-1" placeholder="Enter the State"
          [(ngModel)]="employee.address.state" #state="ngModel">
      </div>
      <div class="col-md-2">
        <label for="pin">PinCode</label>
        <input type="text" name="pin" class="form-control my-1" placeholder="Enter the pin"
          [(ngModel)]="employee.address.pin" #pin="ngModel">
      </div>
      <div class="col-md-10">
        <label for="landmark">Landmark</label>
        <input type="text" name="landmark" class="form-control my-1" placeholder="Enter the landmark" required
          [(ngModel)]="employee.address.landmark" #landmark="ngModel">
      </div>
      <div>
        <button type="submit" class="btn btn-success" (click)= "onSubmit()">Add Employee</button>
        <button type="submit" class="btn btn-default" (click)= "createEmployeeForm.reset()">Reset</button>
      </div>
    </form>
  </div>
  