<nav class="navbar navbar-expand-sm navbar-light bg-secondary">
    <img src="assets/ngo-logo.ico" style='margin-right: 15px;'>
    <a class="navbar-brand" href="#" >NGO</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" routerLink=''>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="admin">Admin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="employee">Employee</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="donor">Donor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="needypeople">Needy People</a>
      </li>
    </ul>
  </div>
</nav>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Non Government Organization</h1>
    <p class="lead">Gate to Humanity</p>
    <hr class="my-2">
  </div>
</div>
<div clas="container fluid">
  <app-admin></app-admin>
  
  <router-outlet></router-outlet>
</div>
