.background { 
    background-image:url("https://cdn2.vectorstock.com/i/1000x1000/87/96/white-arrow-icon-reset-sign-on-black-background-vector-10778796.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-position: center;

}