<div class="alert alert-success alert-dismissible fade show" role="alert">
    Hello <strong>admin</strong>, Welcome to the portal.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="container">
    <div class="bg-light p-5 rounded">
        <h1>Check list of employee</h1>
        <p class="lead my-4">Access the list of employee , get the
            details of each employee.</p>
        <button class="btn btn-lg btn-success my-3" (click)='getAllEmployees()'>Employee List »</button>
    </div>

    <div class="bg-light p-5 rounded">
        <h1>Get details by person's Id</h1>
        <p class="lead my-4">Access all the details of an employee by entering the unique id given him/her.
            You can also check whether the employee with a particular id exists or not.
        </p>
        <input class="form-control my-2" type="text" placeholder="Enter the id of employee here" id='employeeId'
            name='employeeId' [(ngModel)]="employee.employeeId" #employeeId="ngModel">
        <button class="btn btn-lg btn-primary my-2" (click)='getEmployeeById()'>Get Details »</button>
    </div>

    <div class="bg-light p-5 rounded">
        <h1>Get details by person's Name</h1>
        <p class="lead my-4 ">Access all the details of an employee by entering the name of him/her.
            You can also access list of employee and their details, if there are multiple people with same name.</p>
        <input class="form-control my-2" type='text' placeholder="Enter the name of employee here" id='employeeName'
            name='employeeName' [(ngModel)]="employee.employeeName" #employeeName="ngModel">
        <button class="btn btn-lg btn-primary my-2" (click)='getEmployeeByName()'>Get Details »</button>
    </div>
    <div class="container">
        <div class="bg-light p-5 rounded">
            <h1>Check list of donors</h1>
            <p class="lead my-4">Access the list of donors, get the
                details of each donor.</p>
            <button class="btn btn-lg btn-success my-3" (click)='getAllDonors()'>Donor List »</button>
        </div>
        <div class="bg-light p-5 rounded">
            <h1>Check list of all donations</h1>
            <p class="lead my-4">Access the list of donations, get the
                details of each donation.</p>
            <button class="btn btn-lg btn-success my-3" (click)='getAllDonations()'>Donations List »</button>
        </div>
    </div>
</div>