<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">NGO Portal</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                </li>
            </ul>
            <div class="mx-2">
                <div class="nav-item dropdown">
                    <a class="nav-link link-warning dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="true">
                        Admin
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">....</a></li>
                        <li><a class="dropdown-item" href="#">....</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">....</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</nav>

<div class="alert alert-success alert-dismissible fade show" role="alert">
    Hello <strong>admin</strong>, Welcome to the portal.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="container">
    <div class="bg-light p-5 rounded">
        <h1>Check list of employee</h1>
        <p class="lead my-4">Access the list of employee , get the
            details of each employee.</p>
        <button class="btn btn-lg btn-success my-3" (click)='getAllEmployees()'>Employee List »</button>
    </div>

    <div class="bg-light p-5 rounded">
        <h1>Get details by person's Id</h1>
        <p class="lead my-4">Access all the details of an employee by entering the unique id given him/her.
            You can also check whether the employee with a particular id exists or not.
        </p>
        <input class="form-control my-2" type="text" placeholder="Enter the id of employee here" id='employeeId'
            name='employeeId' [(ngModel)]="employee.employeeId" #employeeId="ngModel">
        <button class="btn btn-lg btn-primary my-2" (click)='getEmployeeById()'>Get Details »</button>
    </div>

    <div class="bg-light p-5 rounded">
        <h1>Get details by person's Name</h1>
        <p class="lead my-4 ">Access all the details of an employee by entering the name of him/her.
            You can also access list of employee and their details, if there are multiple people with same name.</p>
        <input class="form-control my-2" type='text' placeholder="Enter the name of employee here" id='employeeName'
            name='employeeName' [(ngModel)]="employee.employeeName" #employeeName="ngModel">
        <button class="btn btn-lg btn-primary my-2" (click)='getEmployeeByName()'>Get Details »</button>
    </div>
    <div class="container">
        <div class="bg-light p-5 rounded">
            <h1>Check list of donors</h1>
            <p class="lead my-4">Access the list of donors, get the
                details of each donor.</p>
            <button class="btn btn-lg btn-success my-3" (click)='getAllDonors()'>Donor List »</button>
        </div>
        <div class="bg-light p-5 rounded">
            <h1>Check list of all donations</h1>
            <p class="lead my-4">Access the list of donations, get the
                details of each donation.</p>
            <button class="btn btn-lg btn-success my-3" (click)='getAllDonations()'>Donations List »</button>
        </div>
    </div>
</div>