<app-employee-nav></app-employee-nav>
<div class="background">
    <div class="container px-4 py-5">
        <div class="row align-items-center g-lg-5 py-5">
            <div class="col-md-10 mx-auto col-lg-5">
                <form class="p-4 p-md-5 border rounded-3 bg-light">
                    <div class="col-md-10 mx-5 ">
                        <img src="assets/profile.jpg" height="90%" width="90%" alt="...">
            
                    </div>
                    <div >
                        <div class="my-3" style="text-align: center;">
                            <h2 class="my-5">Profile</h2>
                            <hr>
                            <div *ngIf='employee'>
                                <div>
                                    <label><b>Id:</b></label> {{employee.employeeId}}
                                </div>
                                <div>
                                    <label><b>Name:</b></label> {{employee.employeeName}}
                                </div>
                                <div>
                                    <label><b>Email:</b></label> {{employee.email}}
                                </div>
                                <div>
                                    <label><b>Phone:</b></label> {{employee.phone}}
                                </div>
                                <div>
                                    <label><b>Username:</b></label> {{employee.username}}
                                </div>
                                <div>
                                    <label><b>Password:</b></label> {{employee.password}}
                                </div>
                                <div>
                                    <label><b>Address:</b></label> {{employee.address.addressId}}, {{employee.address.city}},
                                    {{employee.address.state}}
                                    , {{employee.address.pin}}, {{employee.address.landmark}}.
                                </div>
                            </div>
                            <div class="alert alert-danger my-4" *ngIf="error">
                                {{error}}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
