<div class="container col-md-9">
    <div class="row featurette my-5 ">
        <div class="col-md-5 ">
            <img src="assets/write.png" height="100%" width="100%" alt="...">

        </div>
        <div class="col-md-7">
            <div class="my-5">
                <div class="my-3 col-md-10">
                    <label for="exampleFormControlInput1" class="form-label">Enter your name</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                        placeholder="name">
                </div>
                <div class="my-3 col-md-10">
                    <label for="exampleFormControlInput1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                        placeholder="email address">
                </div>
                <div class="mb-3 col-md-10">
                    <label for="exampleFormControlTextarea1" class="form-label">Send a message to us</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <p class="my-5"><a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop"> Submit » </a></p>
            </div>
        </div>

    </div>
</div>
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Thankyou!!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Your message has been sent, we will look into it and get back to you soon.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
          <a type="button" class="btn btn-primary" href="index.html">Back to homepage</a>
        </div>
      </div>
    </div>
  </div>