.background { 
    background-image:url("https://c.pxhere.com/photos/16/c1/poor_black_poverty_homeless_jobless_money_person_crisis-373298.jpg!d");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-position: center;

}

/* .container .row { 

}

.container .row .col-md-10 { 

}

.container .row .col-md-10 .alert { 

}

.container .row .col-md-10 .p-4 { 

}

.container .row .col-md-10 .p-4 .form-floating { 

}

.container .row .col-md-10 .p-4 .form-floating .form-control { 
    

}

.container .row .col-md-10 .p-4 .form-floating label { 
    

}

.container .row .col-md-10 .p-4 .checkbox { 

}

.container .row .col-md-10 .p-4 .checkbox label { 

}

.container .row .col-md-10 .p-4 .checkbox label input { 

}

.container .row .col-md-10 .p-4 .btn { 

}

.container .row .col-md-10 .p-4 .my-4 { 

} */