.body{
    
}
.container { 
    background-image:url("https://miro.medium.com/max/2000/1*4-ML1PM9ke7UiLuoNLN7fg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-position: center;

}

.container .row { 

}

.container .row .col-md-10 { 

}

.container .row .col-md-10 .alert { 

}

.container .row .col-md-10 .p-4 { 

}

.container .row .col-md-10 .p-4 .form-floating { 

}

.container .row .col-md-10 .p-4 .form-floating .form-control { 
    

}

.container .row .col-md-10 .p-4 .form-floating label { 
    

}

.container .row .col-md-10 .p-4 .checkbox { 

}

.container .row .col-md-10 .p-4 .checkbox label { 

}

.container .row .col-md-10 .p-4 .checkbox label input { 

}

.container .row .col-md-10 .p-4 .btn { 

}

.container .row .col-md-10 .p-4 .my-4 { 

}