<app-home-nav></app-home-nav>
<div id="carouselExampleSlidesOnly" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="assets/team.png" class="d-block w-100" alt="...">
        </div>

    </div>
</div>
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-1">Our Team</h1>
    <p>"We aim for the change within the lives of people"</p>
    <div class="container my-5">
        <!-- Three columns of text below the carousel -->

        <div class="row">
            <div class="col-lg-4">
                <img class="d-block mx-auto mb-4 rounded-circle" src="assets/sidharth.png" height="70%" width="40%"
                    alt="">

                <h3>Mr. Sai Sidhartha</h3>
                <p>Founder</p>

            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="d-block mx-auto mb-4 rounded-circle" src="assets/madhvika.png" height="70%" width="40%"
                    alt="">
                <h3>Ms. Madhvika</h3>
                <p>Treasurer</p>

            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="d-block mx-auto mb-4 rounded-circle" src="assets/varun.png" height="70%" width="40%" alt="">
                <h3>Mr. Varun Krishna</h3>
                <p>Marketing head</p>

            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </div>
    <div class="container marketing">
    </div>
    <div class="px-4 py-5 text-center">
        <div class="container">
            <!-- Three columns of text below the carousel -->
            <div class="row">
                <div class="col-lg-4">
                    <img class="d-block mx-auto mb-4 rounded-circle" src="assets/sravani.png" height="70%" width="40%"
                        alt="">

                    <h3>Ms. Sravani</h3>
                    <p>Executive chief</p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img class="d-block mx-auto mb-4 rounded-circle" src="assets/harshith.png" height="70%" width="40%"
                        alt="">
                    <h3>Mr. Harshith</h3>
                    <p>Product manager</p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img class="d-block mx-auto mb-4 rounded-circle" src="assets/sahithi.png" height="70%" width="40%"
                        alt="">
                    <h3>Ms. Sahithi</h3>
                    <p>Logistics manager</p>
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
        </div>
        <div class="container marketing">
        </div>
    </div>
</div>

<footer class="foi-footer text-white" style="background-image: url(assets/Logo/blog.jpg);">
    <div class="container">
        <div class="row footer-content">
            <div class="col-xl-6 col-lg-7 col-md-8">
                <h2 class="mb-0">Do you want to know more or just have a question? write to us.</h2>
            </div>
            <div class="col-md-4 col-lg-5 col-xl-6 py-3 py-md-0 d-md-flex align-items-center justify-content-end">
                <a href="contact" class="btn btn-warning btn-lg">Contact form</a>
            </div>
        </div>
        <div class="row footer-widget-area">
            <div class="col-md-3">
                <div class="py-3">
                    <img class="img-fluid" src="assets/LogoText/AikyataFoundationWhite.png" width="275px" height="60px" alt="ngo">
                </div>
                <p class="font-os font-weight-semibold mb3">Get our mobile app</p>
                <div>
                    <button class="btn btn-app-download mr-2"><img src="assets/ios-white.svg" alt="App store"></button>
                    <button class="btn btn-app-download"><img src="assets/android-white.svg" alt="play store"></button>
                </div>
            </div>
            <div class="col-md-3 mt-3 mt-md-0">
                <nav>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a href="about" class="nav-link">About</a>
                        </li>
                        <li class="nav-item">
                            <a href="team" class="nav-link">Our Team</a>
                        </li>
                        <li class="nav-item">
                            <a href="donor/login" class="nav-link">Donate</a>
                        </li>
                        <li class="nav-item">
                            <a href="needypeople/login" class="nav-link" >Request for help</a>
                        </li>
                        <li class="nav-item">
                            <a href="write" class="nav-link" >Write for us</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-3 mt-3 mt-md-0">
                <p>aikyatha.unity@gmail.com</p>
                <p>All rights reserved.</p>
                <nav class="social-menu">
                    <a href="#!"><img src="assets/facebook.svg" alt="facebook"></a>
                    <a href="#!"><img src="assets/instagram.svg" alt="instagram"></a>
                    <a href="#!"><img src="assets/twitter.svg" alt="twitter"></a>
                    <a href="#!"><img src="assets/youtube.svg" alt="youtube"></a>
                </nav>
            </div>
        </div>
    </div>
</footer>