<h3>Register as Needy Person</h3>
<div class="container my-5">
    <!-- <form (ngSubmit)="onSubmit()"> -->
        <form #createNeedyPeopleForm="ngForm" novalidate class="row g-3">
        <div class="form-group">
            <label for="needyPeopleId">NeedyPeople Id</label>
            <input type="number" name="needyPeopleId" class="form-control" 
                    placeholder="Enter the Id " required  
                    #needyPeopleId="ngModel"
                    [(ngModel)]= "needyPeople.needyPeopleId"
                    [ngClass]= "{'is-invalid':needyPeopleId?.errors && (needyPeopleId?.touched),
                    'is-valid':needyPeopleId?.valid}">
            <div class="invalid-feedback">
                <strong *ngIf= "needyPeopleId?.errors?.required">Needy People Id is required</strong>
            </div>
        </div>
        
        <div class="form-group">
          <label for="needyPeopleName">NeedyPeople name</label>
          <input type="text" name="name" class="form-control" 
                  placeholder="Enter the name" required  
                  #needyPeopleName="ngModel"
                  [(ngModel)]= "needyPeople.needyPeopleName"
                  [ngClass]= "{'is-invalid':needyPeopleName?.errors && (needyPeopleName?.touched),
                  'is-valid':needyPeopleName?.valid}">
          <div class="invalid-feedback">
              <strong *ngIf= "needyPeopleName?.errors?.required">Needy People name is required</strong>
          </div>
      </div>
      <div class="form-group">
        <label for="phone">phone</label>
        <input type="text" name="phone" class="form-control" 
                placeholder="Enter the phone" required  
                #phone="ngModel"
                [(ngModel)]= "needyPeople.phone"
                [ngClass]= "{'is-invalid':phone?.errors && (phone?.touched),
                'is-valid':phone?.valid}">
        <div class="invalid-feedback">
            <strong *ngIf= "phone?.errors?.required">Needy People phone is required</strong>
        </div>
    </div>

    <div class="form-group">
      <label for="familyIncome">familyIncome</label>
      <input type="number" name="familyIncome" class="form-control" 
              placeholder="Enter the family Income" required  
              #familyIncome="ngModel"
              [(ngModel)]= "needyPeople.familyIncome"
              [ngClass]= "{'is-invalid':familyIncome?.errors && (familyIncome?.touched),
              'is-valid':familyIncome?.valid}">
      <div class="invalid-feedback">
          <strong *ngIf= "familyIncome?.errors?.required">Needy People family Income is required</strong>
      </div>
    </div>

    <div class="form-group">
      <label for="username">username</label>
      <input type="text" name="username" class="form-control" 
              placeholder="Enter the username" required  
              #username="ngModel"
              [(ngModel)]= "needyPeople.username"
              [ngClass]= "{'is-invalid':username?.errors && (username?.touched),
              'is-valid':username?.valid}">
      <div class="invalid-feedback">
          <strong *ngIf= "username?.errors?.required">Needy People username is required</strong>
      </div>
    </div>

    <div class="form-group">
      <label for="password">password</label>
      <input type="text" name="password" class="form-control" 
              placeholder="Enter the password" required  
              #password="ngModel"
              [(ngModel)]= "needyPeople.password"
              [ngClass]= "{'is-invalid':password?.errors && (password?.touched),
              'is-valid':password?.valid}">
      <div class="invalid-feedback">
          <strong *ngIf= "password?.errors?.required">Needy People password is required</strong>
      </div>
    </div>

    <div class="form-group">
      <label for="addressId">addressId</label>
      <input type="number" name="addressId" class="form-control" 
              placeholder="Enter the addressId" required  
              #addressId="ngModel"
              [(ngModel)]= "needyPeople.address.addressId"
              [ngClass]= "{'is-invalid':addressId?.errors && (addressId?.touched),
              'is-valid':addressId?.valid}">
      <div class="invalid-feedback">
          <strong *ngIf= "addressId?.errors?.required">Needy People addressId is required</strong>
      </div>
    </div>

    <div class="form-group">
      <label for="city">city</label>
      <input type="text" name="city" class="form-control" 
              placeholder="Enter the city" required  
              #city="ngModel"
              [(ngModel)]= "needyPeople.address.city"
              [ngClass]= "{'is-invalid':city?.errors && (city?.touched),
              'is-valid':city?.valid}">
      <div class="invalid-feedback">
          <strong *ngIf= "city?.errors?.required">Needy People city is required</strong>
      </div>
    </div>

    <div class="form-group">
      <label for="state">state</label>
      <input type="text" name="state" class="form-control" 
              placeholder="Enter the state" required  
              #state="ngModel"
              [(ngModel)]= "needyPeople.address.state"
              [ngClass]= "{'is-invalid':state?.errors && (state?.touched),
              'is-valid':state?.valid}">
      <div class="invalid-feedback">
          <strong *ngIf= "state?.errors?.required">Needy People state is required</strong>
      </div>
    </div>

    <div class="form-group">
      <label for="pin">pin</label>
      <input type="text" name="pin" class="form-control" 
              placeholder="Enter the pin" required  
              #pin="ngModel"
              [(ngModel)]= "needyPeople.address.pin"
              [ngClass]= "{'is-invalid':pin?.errors && (pin?.touched),
              'is-valid':pin?.valid}">
      <div class="invalid-feedback">
          <strong *ngIf= "pin?.errors?.required">Needy People pin is required</strong>
      </div>
    </div>

    <div class="form-group">
      <label for="landmark">landmark</label>
      <input type="text" name="landmark" class="form-control" 
              placeholder="Enter the landmark" required  
              #landmark="ngModel"
              [(ngModel)]= "needyPeople.address.landmark"
              [ngClass]= "{'is-invalid':landmark?.errors && (landmark?.touched),
              'is-valid':landmark?.valid}">
      <div class="invalid-feedback">
          <strong *ngIf= "landmark?.errors?.required">Needy People landmark is required</strong>
      </div>
    </div>

        <button type="submit" class="btn btn-success" (click)= "onSubmit()" [disabled]= "createNeedyPeopleForm.invalid">Add Product</button>
        <button type="submit" class="btn btn-default" (click)= "createNeedyPeopleForm.reset()">Reset</button>
    </form>