<h3>Book Complaint</h3>
<div style="width:400px">
    <!-- <form (ngSubmit)="onSubmit()"> -->
        <form #createNeedyPeopleForm="ngForm" novalidate>
        <div class="form-group">
            <label for="needyPeopleId">NeedyPeople Id</label>
            <input type="number" name="needyPeopleId" class="form-control" 
                    placeholder="Enter the product needyPeopleId " required  
                    #needyPeopleId="ngModel"
                    [(ngModel)]= "needyPeople.needyPeopleId"
                    [ngClass]= "{'is-invalid':needyPeopleId?.errors && (needyPeopleId?.touched),
                    'is-valid':needyPeopleId?.valid}">
            <div class="invalid-feedback">
                <strong *ngIf= "needyPeopleId?.errors?.required">Needy People Id is required</strong>
            </div>
        </div>
        
        <button type="submit" class="btn btn-success" (click)= "onSubmit()" [disabled]= "createNeedyPeopleForm.invalid">Add Product</button>
        <button type="submit" class="btn btn-default" (click)= "createNeedyPeopleForm.reset()">Reset</button>
    </form>
        <!--
        <div class="form-group">
            <label for="complaintName">Complaint Description</label>
            <input type="text" name="complaintName" class="form-control" 
                  placeholder="Enter the details of complaint" 
                  required [(ngModel)]= "complaint.complaintName" #complaintName="ngModel"
                  [ngClass]= "{'is-invalid':complaintName?.errors && (complaintName?.touched || complaintName?.dirty),
                  'is-valid':complaintName?.valid}">
                  <div class="invalid-feedback">
                    <strong *ngIf= "complaintName?.errors?.required">Complaint Description is required</strong>
                </div>
        </div>
        <div class="form-group">
            <label for="clientId">Client Id</label>
            <input type="text" name="clientId" class="form-control" 
                  placeholder="Enter the Client Id" required 
                  [(ngModel)]= "complaint.clientId" #clientId="ngModel"
                  [ngClass]= "{'is-invalid':clientId?.errors && (clientId?.touched || clientId?.dirty),
                  'is-valid':clientId?.valid}">
                  <div class="invalid-feedback">
                    <strong *ngIf= "clientId?.errors?.required">Client Id is required</strong>
                </div>
        </div>
        <div class="form-group">
            <label for="complaintRegDate">Complaint Registration Date</label>
            <input type="date" name="complaintRegDate" class="form-control" 
                  placeholder="Enter the complaint registration date" required 
                  [(ngModel)]= "complaint.complaintRegDate" #complaintRegDate="ngModel"
                  [ngClass]= "{'is-invalid':complaintRegDate?.errors && (complaintRegDate?.touched || complaintRegDate?.dirty),
                  'is-valid':complaintRegDate?.valid}">
                  <div class="invalid-feedback">
                    <strong *ngIf= "complaintRegDate?.errors?.required">complaintRegDate is required</strong>
                </div>
        </div>
        <button type="submit" class="btn btn-success" (click)= "onSubmit()" [disabled]= "createComplaintForm.invalid">Add Product</button>
        <button type="submit" class="btn btn-default" (click)= "createComplaintForm.reset()">Reset</button>
    </form>































<!-- <div class="container my-5">
  <div class="alert alert-danger my-4" *ngIf="error">
    {{error}}
</div>
    <form #addNeedyPersonForm="ngForm"  (ngSubmit)="onSubmit(addNeedyPersonForm)">
      <div class="col-md-4"> 
        <label for="needyPeopleId" class="form-label">Needy person Id</label>
        <div class="form-group">
          
          <input type="text" class="form-control" name="needyPeopleId" [(ngModel)]="needyPeople.needyPeopleId" required>
        </div>
      </div>
      <div class="col-md-8">
        <label for="name">Needy person Name</label>
        <div class="form-group">
          
          <input type="text" class="form-control" name="needyPeopleName" [(ngModel)]="needyPeople.needyPeopleName" required>
        </div>
      </div>
      <div class="col-md-6">
        <label for="phone">Phone</label>
        <div class="form-group">
          
          <input type="text" class="form-control" name="phone" [(ngModel)]="needyPeople.phone" required>
        </div>
      </div>

      <div class="col-md-6">
        <label for="familyIncome">Family Income</label>
        <div class="form-group">
         
          <input type="text" class="form-control" name="familyIncome" [(ngModel)]="needyPeople.familyIncome" required>
        </div>
      </div>

      <div class="col-md-6">
        <label for="username">Username</label>
        <div class="form-group">
          
          <input type="text" class="form-control" name="username" [(ngModel)]="needyPeople.username" required>
        </div>
      </div>

      <div class="col-md-3">
        <label for="password">Password</label>
        <div class="form-group">
          
          <input type="text" class="form-control" name="password" [(ngModel)]="needyPeople.password" required>
        </div>
      </div>
      <div class="col-md-3">
        <label for="password">Confirm Password</label>
        <input type="password" name="password" class="form-control my-1" placeholder="Enter the Password">
      </div>

      <hr class="my-4">
      <div class="col-md-4">
        <label for="addressId">Address Id</label>
          <div class="form-group">
            <input type="text" class="form-control" name="addressId" [(ngModel)]="needyPeople.address.addressId" required>
          </div>
      </div>

      <div class="col-md-4">
        <label for="city">City</label>
        <div class="form-group">
          
          <input type="text" class="form-control" name="city" [(ngModel)]="needyPeople.address.city" required>
        </div>
      </div>
      <!-- <div class="form-group">
        <label for="clientId">Client Id</label>
        <input type="text" name="clientId" class="form-control" 
              placeholder="Enter the Client Id" required 
              [(ngModel)]= "product.clientId" #clientId="ngModel"
              [ngClass]= "{'is-invalid':clientId?.errors && (clientId?.touched || clientId?.dirty),
              'is-valid':clientId?.valid}">
              <div class="invalid-feedback">
                <strong *ngIf= "clientId?.errors?.required">Client Id is required</strong>
            </div></div> 

      <div class="col-md-4">
        <label for="state">State</label>
        <div class="form-group">
          
          <input type="text" class="form-control" name="state" [(ngModel)]="needyPeople.address.state" required>
        </div>
      </div>
      <div class="col-md-2">
        <label for="pin">PinCode</label>
        <div class="form-group">
         
          <input type="text" class="form-control" name="pin" [(ngModel)]="needyPeople.address.pin" required>
        </div>
      </div>

      <div class="col-md-10">
        <label for="landmark">Landmark</label>
        <div class="form-group">
          
          <input type="text" class="form-control" name="landmark" [(ngModel)]="needyPeople.address.landmark" required>
        </div>
      </div>
      
      <div class="col-12">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck">
          <label class="form-check-label" for="gridCheck">
            Remember me
          </label>
        </div>
      </div>
      <div>
        <button type="submit" class="btn btn-lg btn-success">Register »</button>
        <button type="submit" class="btn btn-lg btn-default" (click)="addNeedyPersonForm.reset()">Reset</button>
      </div>
    </form>
  </div>
  
  
   -->